.div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.img {
  max-height: 6em;
}

.li {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
